.flat-list-view-block {
  .ui.breadcrumb .section {
    overflow: visible;
    max-width: 220px;
    min-height: 16px;
    padding: 0;
    text-overflow: clip;
    white-space: normal;
    word-break: break-word;
  }

  i.large.icon,
  i.large.icons {
    line-height: 1;
    vertical-align: middle;
    font-size: 1.5em !important;
  }
}
