.flat-list-view-block {
  .ui.breadcrumb ol {
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .ui.large.breadcrumb {
    font-size: 1rem;
  }

  .ui.breadcrumb li {
    gap: 0.5em;
  }

  .ui.breadcrumb .divider {
    margin: 0;
  }

  .ui.breadcrumb .section {
    overflow: visible;
    max-width: fit-content;
    min-height: 16px;
    padding: 0;
  }

  i.large.icon,
  i.large.icons {
    font-size: 1.5em !important;
    line-height: 1;
    vertical-align: middle;
  }
}
